{% extends "partials/layout-without-topbar-sidebar.html" %}
{% block content %}
        <section class="min-h-[calc(100vh-134px)] flex items-center justify-center">
            <div class="max-w-[1440px] mx-auto text-center px-4">
                <div class="mt-10 space-y-4">
                    <h2 class="text-3xl font-bold md:text-5xl dark:text-white">Erreur 404</h2>
                    <p class="text-base text-muted dark:text-darkmuted">Désolé, une erreur c'est produite</p>
                    <div>
                        <a href="/" class="inline-block border rounded btn text-purple border-purple hover:bg-purple hover:text-white">
                            Wivivi - Bourse de fret
                        </a>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}

