<ol itemscope itemtype="https://schema.org/BreadcrumbList" class="space-y-2 detached-breadcrumb">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="flex items-center space-x-2"><a class="text-black/50" itemprop="item" href="/"><span itemprop="name">{{ bodys.brea1_index }}</span></a><meta itemprop="position" content="1" /></li>
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="text-xl font-semibold"><h1 id="titre1" itemprop="name">{{ ui.h1 }}</h1><meta itemprop="position" content="2" /></li>
</ol>