{% extends "partials/layout.html" %}
{% load static %}
{% block content %}
  
                    <div class="flex">
                        <nav class="w-8/12">
                            <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="flex flex-wrap items-center space-x-2">
                                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="text-xs dark:text-white/80"><a class="text-black/50" itemprop="item" href="/"><span itemprop="name">{{ bodys.brea1_index }}</span></a><meta itemprop="position" content="1" /></li>
                                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="mt-2 block text-xl font-semibold"><h1 itemprop="name">{{ ui.titre }}</h1><meta itemprop="position" content="2" /></li>
                            </ol>
                        </nav>
                                        <div class="flex w-4/12">
                                            {% if request.user.id == ui.utilisateur_id  %}<div><a href="{{ ui.url_formulaire_frontend }}" class="btn bg-purple mr-1 border border-purple rounded-md text-white  hover:bg-purple/[0.85] hover:border-purple/[0.85]">{{ bodys.modifier }}</a></div> {% endif  %}
                                        <div x-data="modals">
                                                <div class="flex items-center justify-center">
                                                 {% if request.user.is_authenticated and uti.credit >= 1 %}<a href="?proposition=proposition" class="btn bg-purple border mr-1 border-purple rounded-md text-white  hover:bg-purple/[0.85] hover:border-purple/[0.85]">Faire une proposition</a>{% endif %}
                                                 <button type="button" class="btn bg-purple border border-purple rounded-md text-white  hover:bg-purple/[0.85] hover:border-purple/[0.85]" @click="toggle">{{ bodys.contact_expediteur }}</button>
                                                    </div>
                                                <div role="dialog" aria-label="Interaction annonce" tabindex="-1" class="fixed inset-0 bg-black/80 z-[99999] hidden overflow-y-auto dark:bg-dark/90" :class="open && '!block'">
                                                    <div  class="flex items-start justify-center min-h-screen px-4" @click.self="open = false">
                                                        <div role="document" x-show="open" x-transition x-transition.duration.300 class="relative w-full max-w-lg p-0 my-8 overflow-hidden bg-white border rounded-lg dark:bg-darklight  ">
                                                            <div class="flex items-center justify-between px-5 py-3 bg-white border-b   dark:bg-darklight  ">
                                                                <p class="text-lg font-semibold dark:text-white">Contacter {{ ui.utilisateur }}</>
                                                            </div>
                                                            <div class="p-5 space-y-4">
                                                                {% if request.user.is_authenticated %}
                                                                    {% if request.GET.proposition and uti.credit >= 1 %}
                                                                    <form method="post" class="flex items-center gap-4 px-4 py-2 bg-light/20 dark:bg-white/5">
                                                                        <input type="text" name="proposition_message" value="" placeholder="Message" class="flex-1 form-input dark:text-white/80 dark:placeholder:text-white/30   dark:bg-dark dark:focus:border-white/30">
                                                                        <input type="number" name="proposition_prix" value="" placeholder="Proposition de prix" class="flex-1 form-input dark:text-white/80 dark:placeholder:text-white/30   dark:bg-dark dark:focus:border-white/30">
                                                                        <button type="button"  class="btn py-3 px-3 bg-purple border border-purple rounded-md text-white  hover:bg-purple/[0.85] hover:border-purple/[0.85]">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5">
                                                                                <path fill="currentColor" d="M3.5 1.3457C3.58425 1.3457 3.66714 1.36699 3.74096 1.4076L22.2034 11.562C22.4454 11.695 22.5337 11.9991 22.4006 12.241C22.3549 12.3241 22.2865 12.3925 22.2034 12.4382L3.74096 22.5925C3.499 22.7256 3.19497 22.6374 3.06189 22.3954C3.02129 22.3216 3 22.2387 3 22.1544V1.8457C3 1.56956 3.22386 1.3457 3.5 1.3457ZM5 4.38261V11.0001H10V13.0001H5V19.6175L18.8499 12.0001L5 4.38261Z"></path>
                                                                            </svg>
                                                                        </button>
                                                                    </form>
                                                                    {% elif uti.credit >= 1 %}
                                                                    <form method="post" class="flex items-center gap-4 px-4 py-2 bg-light/20 dark:bg-white/5">
                                                                        <input type="text" name="messagerie_message" value="" placeholder="Message" class="flex-1 form-input dark:text-white/80 dark:placeholder:text-white/30   dark:bg-dark dark:focus:border-white/30">
                                                                        <button type="button" type="submit" class="btn py-3 px-3 bg-purple border border-purple rounded-md text-white  hover:bg-purple/[0.85] hover:border-purple/[0.85]">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5">
                                                                                <path fill="currentColor" d="M3.5 1.3457C3.58425 1.3457 3.66714 1.36699 3.74096 1.4076L22.2034 11.562C22.4454 11.695 22.5337 11.9991 22.4006 12.241C22.3549 12.3241 22.2865 12.3925 22.2034 12.4382L3.74096 22.5925C3.499 22.7256 3.19497 22.6374 3.06189 22.3954C3.02129 22.3216 3 22.2387 3 22.1544V1.8457C3 1.56956 3.22386 1.3457 3.5 1.3457ZM5 4.38261V11.0001H10V13.0001H5V19.6175L18.8499 12.0001L5 4.38261Z"></path>
                                                                            </svg>
                                                                        </button>
                                                                    </form>
                                                                    {% else %}<p>Vous n'avez pas assez de credit pour le moment</p>
                                                                    {% endif %}
                                                                {% else %}
                                                                <p>Vous n'êtes actuellement pas connecté pour contacter votre interlocuteur</p>
                                                                <a href="{{ bodys.connexion_url }}" class="mt-4 btn bg-purple border border-purple rounded-md text-white  hover:bg-purple/[0.85] hover:border-purple/[0.85]">{{ bodys.connexion }}</a>
                                                                {% endif %}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                    </div>
                    <div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
                        <div class="grid grid-cols-1 gap-4">
                            <div class="p-7 bg-white border rounded   dark:bg-darklight  ">
                                    <div class="flex">
                                        <div class="w-5/12">
                                            <p class="text-3xl dark:text-white font-semibold">{{ ui.ville_expediteur }}</p>
                                            <p class="text-base mt-2 dark:text-white">{{ ui.date_expediteur }}</p>
                                        </div> 
                                        <div class="w-2/12 mt-2 flex"> - <span class="font-semibold">{{ ui.kilometre }} {{ ui.kilometre_champ }}</span> - </div>
                                        <div class="w-5/12 text-right">
                                            <p class="text-3xl dark:text-white font-semibold" >{{ ui.ville_destinataire }}</p>
                                            <p class="text-base mt-2 dark:text-white ">{{ ui.date_destinataire }}</p>
                                        </div>
                                    </div>
                                    
                                    <div class="mt-4" > <span class="">{{ ui.categorie }}</span> - <span class="">{{ ui.type }}</span> - <span>{{ ui.poids }} {{ ui.poids_champ }}</span> - <span>{{ ui.superficie }} {{ ui.superficie_champ }}</span> - <span>{{ ui.valeur_marchandise }} {{ ui.valeur_marchandise_champ }}</span></div>
                                    <div class="flex flex-col md:flex-row gap-7">
                                
                                        <div class="mt-4 w-full">
                                        <div class="w-full">    
                                            <h2 class="font-bold text-base dark:text-white">{{ bodys.description }}</h2>
                                            <p class="mt-2 text-base dark:text-darkmuted">{{ ui.description }}</p>
                                        </div>
                                        <div class="flex mt-4">
                                        <div class="w-7/12">
                                            <h3 class="block text-base mt-4 font-bold dark:text-white">{{ bodys.expediteur }}</h3>
                                            <p class="mt-2">{{ ui.utilisateur_expediteur }}</p>
                                            <p class="mt-2">{{ ui.adresse_expediteur }}</p>
                                            <p class="mt-2">{{ ui.code_postale_expediteur }} {{ ui.ville_expediteur }}</p>
                                            <p class="mt-2">{{ ui.departement_expediteur }}</p>
                                            <p class="flex mt-2"><img  width="20" height="auto" src="{{ ui.drapeau_expediteur }}" alt="{{ ui.pays_expediteur }}" > <span class="mx-2 capitalize">{{ ui.pays_expediteur }}</span></p>
                                        </div>
                                        <div class="w-5/12">
                                            <h3 class="block mt-4 ftext-base ont-bold dark:text-white">{{ bodys.destinataire }}</h3>
                                            <p class="mt-2">{{ ui.utilisateur_destinataire }}</p>
                                            <p class="mt-2">{{ ui.adresse_destinataire }}</p>
                                            <p class="mt-2">{{ ui.code_postale_destinataire }} {{ ui.ville_destinataire }}</p>
                                            <p class="mt-2">{{ ui.departement_destinataire }}</p>
                                            <p class="flex mt-2"><img width="20" height="auto" src="{{ ui.drapeau_expediteur }}" alt="{{ ui.pays_expediteur }}"> <span class="mx-2 capitalize" >{{ ui.pays_expediteur }}</span></p>

                                       </div>
                                    </div>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                         {% endblock content %}